<h2>Report By Hosp</h2>

<table>
  <thead>
    <tr>
      <td>Cat</td>
      <td>Descr</td>
      <td>Qtd</td>
      <td>Hosp</td>
    </tr>
  </thead>
  <tbody>
    <% @hosp_user_cids.each  do |hosp_user_cid| %>
      <tr>
        <td><%= hosp_user_cid.number %></td>
        <td><%= hosp_user_cid.description.truncate(50) %></td>
        <td><%= hosp_user_cid.quantity %></td>
        <td><%= hosp_user_cid.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<!-- 8.0 s -->
<!-- 300 ms -->
