<h2>Report By Hosp</h2>

<% column_chart (@hosp_user_cids.map do |hosp_cid|
      [hosp_cid.description.truncate(50), hosp_cid.quantity]
    end)
%>

<%
  @data = UserCid
            .select("COUNT(user_cids.id)",
                      "DATE_PART('year', user_cids.first_diagnosed_at)",
                      cids: [:number, :description]
                    )
            .joins(:cid)
            .group("DATE_PART('year', user_cids.first_diagnosed_at), cids.number, cids.description")
            .order('cids.number asc')
            .where("DATE_PART('year', user_cids.first_diagnosed_at) = ?", 2000)

  line_chart (@data.map do |data|
      ["#{data.number} - #{data.description.truncate(50)}", data.count]
    end)
%>

<%
  @data = UserCid.select("COUNT(user_cids.id),
                          DATE_PART('year', user_cids.first_diagnosed_at)",
                          cids: [:number, :description]
                  )
                 .joins(:cid)
                 .group("DATE_PART('year', user_cids.first_diagnosed_at), cids.number, cids.description")
                 .order(Arel.sql("DATE_PART('year', user_cids.first_diagnosed_at) asc"))
                 .where("cids.number = ?", 'E85')

    line_chart (@data.map do |data|
      [data.date_part, data.count]
    end)
%>

<table>
  <thead>
    <tr>
      <td>Cat</td>
      <td>Descr</td>
      <td>Qtd</td>
      <td>Hosp</td>
    </tr>
  </thead>
  <tbody>
    <% @hosp_user_cids.each  do |hosp_user_cid| %>
      <tr>
        <td><%= hosp_user_cid.number %></td>
        <td><%= hosp_user_cid.description.truncate(50) %></td>
        <td><%= hosp_user_cid.quantity %></td>
        <td><%= hosp_user_cid.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<!-- 8.0 s -->
<!-- 300 ms -->
