<h2>Report By User (<%= User.find(params[:user_id]).name %>)</h2>

<table>
  <thead>
    <tr>
      <td>Cat</td>
      <td>Descr</td>
      <td>Hosp</td>
    </tr>
  </thead>
  <tbody>
    <% @user_cids.each do |user_cid| %>
      <tr>
        <td><%= user_cid.number %></td>
        <td><%= user_cid.description.truncate(50) %></td>
        <td><%= user_cid.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<!-- 700 ms -->
<!-- 50 ms -->
