<h2>Report - Overall</h2>

<table>
  <thead>
    <tr>
      <td>Cat.</td>
      <td>Descr.</td>
      <td>Qtd.</td>
    </tr>
  </thead>
  <tbody>
    <%
      @user_cids.each do |user_cid| %>
        <tr>
          <td><%= user_cid.number %></td>
          <td><%= user_cid.description.truncate(50) %></td>
          <td><%= user_cid.total %></td>
        </tr>
      <% end %>
  </tbody>
</table>

<!-- 42 s -->
<!-- 1.07 s -->